html,
body {
  padding: 0;
  /* background-color: purple; */
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* fascinate-regular - latin */
@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fascinate-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fascinate-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fascinate-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fascinate-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fascinate-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fascinate-v21-latin-regular.svg#Fascinate') format('svg'); /* Legacy iOS */
}

/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-code-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fira-code-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-code-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-code-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-code-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-code-v18-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* alef-regular - latin */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alef-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/alef-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alef-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alef-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alef-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alef-v21-latin-regular.svg#Alef') format('svg'); /* Legacy iOS */
}
